# Add any directories, files, or patterns you don't want to be tracked by version control
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea
tags
/public/uploads
**/.DS_Store
.vscode